.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag {
    width:1500px;
    height:1000px;
    margin:auto;
}

.stripe {
    width:100%;
    height: 200px;

}

.red{
    background:#EE1C25
}
.red{
    background:#EE1C25
}
.red{
    background:#EE1C25
}

.strip {
    width:100%;
    height: 110px;
}